body {
  background: white;
  margin: 10px;
  color: #3c3c3c;
}

.header {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.container {
  left: 50%;
  position: absolute;
  margin-left: -250px;
  width: 500px;
}

#chat {
  height: 500px;
  border: solid 1px rgb(240,240,240);
  width: 400px;
  margin-left: 50px;
}

#chat-cont {
  height: 400px;
  margin: 10px 13px;
  background: rgb(246,246,246);
  padding: 9px;
  border-radius: 4px;
}

#chat-cont li{
  display: block;
  line-height: 25px;
  font-size: 16px;
}

#chat-cont li .nick{
    color: red;
}

#chat-speak {
  position: absolute;
  bottom: 0px;
  margin: 8px 13px;
}

.chat-textarea {
  width: 250px;
  height: 37px;
  padding: 5px 13px;
  border: 1px solid #ff921a;
  border-right: none 0;
  border-radius: 4px 0 0 4px;
  line-height: 20px;
  float: left;
  color: rgb(169, 169, 169);
}

.chat-send-btn {
  display: block;
  width: 43px;
  height: 49px;
  line-height: 49px;
  border-radius: 0 4px 4px 0;
  color: #fff;
  background: #f70;
  font-size: 14px;
  float: left;
  text-align: center;
  cursor: pointer;
}