body {
  background: white;
  margin: 10px;
  color: #3c3c3c;
}

.header {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.container {
  left: 50%;
  position: absolute;
  margin-left: -250px;
  width: 500px;
}

#chat {
  height: 500px;
  border: solid 1px rgb(240,240,240);
  width: 400px;
  margin-left: 50px;
}

.oper {
  font-size: 17px;
  margin-top: 220px;
  padding: 10px;
}

.oper input {
  height: 30px;
  font-size: 17px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ff921a;
  float: left;
  width: 64%;
}

.oper .enter-btn {
  border-radius: 0 4px 4px 0;
  display: block;
  height: 34px;
  width: 24%;
  float: left;
  text-align: center;
  color: #fff;
  background: #f70;
  line-height: 34px;
  cursor: pointer;
}