<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href='{{ static_url("css/hall.css") }}' type="text/css">
  </head>
  <body>
    <div class="header">
      聊天室大厅
    </div>
    <div class="container">
      <div id="chat">
        <div class="oper">
          <input placeholder="昵称" id="nick"></input>
          <div class="enter-btn" id="enter">进入</div>
        </div>
      </div>
    </div>
    <script src='{{ static_url("js/jquery-2.1.4.min.js") }}'></script>
    <script src='{{ static_url("js/hall.js") }}'></script>
  </body>
</html>
