<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ static_url("css/chat.css") }}" type="text/css">
  </head>
  <body>
    <div class="header">
      聊天室
    </div>
    <div class="container">
      <div id="chat">
        <div id="chat-cont">
        </div>
        <div id="chat-speak">
          <textarea class="chat-textarea" maxlength="50" placeholder="这里输入聊天内容" tabindex="1" data-type="cont" id="speak-cont">
          </textarea>
          <div class="chat-send-btn" id="send-btn", data-type="send">发送
          </div>
        </div>
      </div>
    </div>
    <script src='{{ static_url("js/jquery-2.1.4.min.js") }}'></script>
    <script src='{{ static_url("js/chat.js") }}'></script>
  </body>
</html>
